/* Small screens, laptops */
@media (min-width: 769px) and (max-width: 1024px) {
	.gallery-title {
		font-size: 1.2rem;
	}
	.contacts {
		grid-template-columns: repeat(2, 1fr);
	}
	.contact-btn {
		top: 40%;
	}
}

/* iPads, Tablets */
@media (max-width: 768px) {
	main {
		margin: 0 0.5rem;
	}
	.title {
		margin-bottom: 0.5rem;
	}
	.about-us-content {
		grid-template-columns: 1fr;
	}
	.gallery-card {
		padding: 1rem 0;
	}
	.contact-title {
		margin-bottom: 2rem;
	}
	.contacts {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
	}
	.contact-btn {
		top: 40%;
	}
	.btn {
		font-size: 1.4rem;
	}
	.user-info,
	.user-links {
		text-align: center;
	}
	.footer-address {
		grid-template-columns: 1fr;
	}
	.footer-address > div {
		margin: 1rem 0;
	}
}

/* mobile device and smaller*/
@media (max-width: 480px) {
	header {
		flex-direction: column;
		justify-content: space-around;
		min-height: 90px;
	}
	.title {
		margin-top: 2rem;
	}
	.title {
		font-size: 3rem;
	}
	.subtitle {
		font-size: 0.8rem;
	}
	.about-us-content {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, 1fr);
	}
	.gallery-title {
		font-size: 1.3rem;
	}
	.gallery-card p {
		font-size: 0.8rem;
	}
	.gallery-card {
		padding: 1rem 0;
	}
	.contact-title {
		padding-top: 4rem;
	}
	.contacts {
		grid-template-columns: 1fr;
	}
	.contact-btn {
		top: 45%;
		margin: 0 1rem;
	}
	.btn {
		font-size: 2rem;
	}
	.footer-top {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		gap: 2rem;
		max-width: 300px;
		margin: auto;
	}
}
